fund=false
audit=false
progress=false
color=true
fetch-retries=3
fetch-retry-factor=2
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=20000
prefer-offline=false
registry=https://registry.npmjs.org/
